extends ../layout

append css
  link(rel='stylesheet', href='/components/fontawesome/web-fonts-with-css/css/fontawesome.css')
  link(rel='stylesheet', href='/css/user.css')

block main

    block content
