extends layout

block content
  form.form-signin.form-register(method="post", action="/admin/index")
      h2.form-signin-heading 更改密码

      != messages()
      label.sr-only(for="email") 邮箱
      input.email.form-control(name="email", type="email", value=user.email, autofocus="", disabled)

      label.sr-only(for="password") 新密码
      input.password.form-control(name="password", type="password", placeholder="Password", required="")

      label.sr-only(for="confirmPassword") 重复密码
      input.confirm-password.form-control(name="confirmPassword", type="password", placeholder="Password", required="")

      button.btn.btn-lg.btn-primary.btn-block(type="submit") 修改
